body, h1, p, nav, article, footer {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
}

header {
  background-color: #333;
  color: white;
 padding: 10px 0;
  text-align: center;
  font-size: 40px;
}


nav {
  background-color: #444;
  color: white;
  padding: 10px;
  margin: 10px;
}

nav p {
  margin-bottom: 10px;
}
nav p {
  margin-bottom: 50px; /* Add spacing between paragraphs */
}

nav p:first-child {
  margin-top: 0;
}

article {
  background-color: white;
  padding: 10px;
  margin: 10px;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
}

a {
  color: #0099ff;
}

a:hover {
  color: #0077cc;
}

img {
  display: block;
  margin: 0 auto;
}